<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>time display</title>
    {% load staticfiles %}
 
    <link rel="stylesheet" href="{% static 'first_app/css/styles.css' %}" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <div id="upper-box" class='box'>
        <h6>The current time and date:</h6>
    </div>
    <div id="lower-box" class='box'>
        <h1>{{request.session.upper_date}}</h1>
        <h1>{{request.session.lower_date}}</h1>
    </div>
</body>
</html>